:root{
    --cinza-de-fundo: #222831;
    --branco: #fff;
    --azul-claro-hover:#99c2ff;
    --cinza-da-celula: #9e9e9e;

}




body{
    height: 100vh;
    background-color: var(--cinza-de-fundo);
}


.container{
    display: grid;
    
    margin: 20px auto;
    width: max-content;
        
}




.cell {
    width: 30px;
    height: 30px;
    background-color: var(--branco);
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
  }

.cell:hover{
    background-color: var(--azul-claro-hover);
}



.NumZero{
    background-color: var(--cinza-da-celula); 

  }


.flagAdd{
    background-image: url(bandeira.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    
}